nav a:first-child {
  color: #fff;
  background-color: #e08baf;
}

/* main-start */
main {
  min-width: 95vw;
}

main > .main-top {
  display: flex;
  justify-content: center;
  align-items: center;
}



main > section > .main-top_a {
  background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
  background-size: 800% 400%;
  margin: 1rem 1rem;
  padding: 5rem 5rem;
  display: inline-block;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5em;
  font-weight: 900;
  color: white;
  transition: all 0.5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
}

.main-top_a:hover {
  animation: gradient 3s infinite;
  transform: scale(1.05);
}

.main-top_a:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

main > .main-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > .main-middle > figure {
  display: flex;
  flex-direction: row;
  border-radius: 1em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
main > .main-middle > figure > figcaption {
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}
/* main-end */
