/* util */
.font-large {
  font-size: 2.5em;
  font-weight: 900;
}

.font-middle {
  font-size: 1.5em;
  font-weight: 700;
}

.font-small {
  font-size: 1em;
  font-weight: 500;
}

.border-bot {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

div.a-place {
  display: inline-block;
  position: fixed;
  bottom: 100px;
  left: 90vw;
}

a.return-top {
  font-size: 16px;
  padding: 1em 1em;
  transform: perspective(200px) rotateX(15deg);
  color: white;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  background: linear-gradient(
    0deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(70, 135, 252, 1) 100%
  );
  box-shadow: rgba(63, 94, 251, 0.2) 0px 40px 29px 0px;
  will-change: transform;
  transition: all 0.3s;
  border-bottom: 2px solid rgba(70, 135, 252, 1);
  user-select: none;
}

a.return-top:hover {
  transform: perspective(180px) rotateX(30deg) translateY(2px);
}

a.return-top:active {
  transform: perspective(170px) rotateX(36deg) translateY(5px);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

main > p:first-child {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 5rem 5rem;
}

/* util-end*/ ;
